<h3>スケジュール新規登録</h3>
 <%= render "shared/error", obj: @schedule %>
 
 <%= form_with(model: @schedule, local: true) do |f| %>
  <table rules="all">
    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title, size: "40" %></td>
    </tr>
    <tr>
      <th><%= f.label :startdate ,"開始日" %></th>
      <td><%= f.date_field :startdate, class: 'date' %></td>
    </tr>
    <tr>
      <th><%= f.label :enddate ,"終了日" %></th>
      <td><%= f.date_field :enddate, class: 'date' %></td>
    </tr>
    <tr>
      <th><%= f.label :checkend, "終日" %></th>
      <td><%= f.check_box :checkend, {}, true, false %>
       </br>終日の場合はチェックを入れます
      </td>
    </tr>
    <tr>
      <th><%= f.label :schedulememo ,"スケジュールメモ" %></th>
      <td><%= f.text_area :schedulememo, size: '40x12' %></td>
    </tr>
  </table>

      <p><%= f.submit "スケジュールを新規登録する"%></p>
  <% end %>
      <p><%= link_to "スケジュール一覧に戻る", :schedules %></p>
