<h3>スケジュール新規登録</h3>
 <%= render "shared/error", obj: @schedule %>
 
 <%= form_with(model: @schedule, local: true) do |f| %>
  <table>
    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :startdate ,"開始日" %></th>
      <th><%= f.date_field :startdate %></th>
    </tr>
    <tr>
      <th><%= f.label :enddate ,"終了日" %></th>
      <th><%= f.date_field :enddate %></th>
    </tr>
    <tr>
      <th><%= f.label :checkend, "終日" %></th>
      <th><%= f.check_box :checkend, {}, true, false %>
       終日の場合はチェックを入れます
      </th>
    </tr>
    <tr>
      <th><%= f.label :schedulememo ,"スケジュールメモ" %></th>
      <td><%= f.text_area :schedulememo %></td>
    </tr>
  </table>

      <p><%= f.submit "スケジュールを新規登録する"%></p>
  <% end %>
      <p><%= link_to "スケジュール一覧に戻る", :schedules %></p>
