<h2>スケジュール詳細</h2>
 
 <table rules="all">
  <tbody>
   <tr>
    <th>タイトル</th>
    <td><%= @schedule.title %></td>
   </tr>
   <tr>
    <th>開始日</th>
    <td><%= @schedule.startdate.strftime("%Y年 %m月 %d日") %></td>
   </tr>
   <tr>
    <th>投稿日時</th>
    <td><%= @schedule.created_at.to_s(:datetime_jp) %></td>
   </tr>
   <tr>
    <th>終日</th>
    <td><%= '〇' if @schedule.checkend == true %></td>
   </tr>
   <tr>
    <th>スケジュールメモ</th>
    <td><%= @schedule.schedulememo %></td>
   </tr>
  </tbody>
 </table>
 
 <p><%= link_to "スケジュール一覧に戻る", :schedules %></p>
 <p><%= link_to "スケジュールを編集する", :edit_schedule %></p>
 <p><%= link_to "スケジュールを削除する", @schedule, method: :delete, data: { confirm: "本当に削除しますか？" } %></p>