<h3>スケジュール詳細</h3>
 
 <table>
  <thead>
   <tr>
    <th>タイトル</th>
    <th>開始日</th>
    <th>投稿日時</th>
    <th>終日</th>
    <th>スケジュールメモ</th>
   </tr>
  </thead>
  
  <tbody>
   <% @schedules.each do |schedule| %>
    <tr>
     <td><%= schedule.title %></td>
     <td><%= schedule.startdate %></td>
     <td><%= schedule.created_at.to_s(:datetime_jp) %></td>
     <td></td>
     <td><%= schedule.schedulememo %></td>
    </tr>
   <% end %>
  </tbody>
 </table>
 
 <p><%= link_to "スケジュール一覧に戻る", :schedule %></p>
 <p><%= link_to "スケジュールを編集する", :edit_schedule %></p>
 <p><%= link_to "スケジュールを削除する", schedule, method: :delete, data: { confirm: "本当に削除しますか？" } %></p>